<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Web Store</display-name>

    <listener>
        <listener-class>com.training.web_store.listener.ServerListener</listener-class>
    </listener>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.training.web_store.filter.EncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>Controller</servlet-name>
        <servlet-name>PagesController</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.training.web_store.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/welcome</url-pattern>
        <url-pattern>/products</url-pattern>
        <url-pattern>/product</url-pattern>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/im</url-pattern>
        <url-pattern>/card</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PagesController</servlet-name>
        <servlet-class>com.training.pages_creator.controller.PagesController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PagesController</servlet-name>
        <url-pattern>/entity/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/error-pages/Page403.html</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/error-pages/Page404.html</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/error-pages/Page500.html</location>
    </error-page>

    <error-page>
        <error-code>503</error-code>
        <location>/WEB-INF/jsp/error-pages/Page503.html</location>
    </error-page>

</web-app>
